:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green-primary: #d2ff72;
  --color-red-primary: #ff204e;
  --color-gray-400: #282a2e;
  --color-gray-300: #54585f;
  --color-gray-200: #c5ccd9;
  --color-gray-100: #edf2fa;
}
