.headerContainer {
  max-width: 1820px;
  width: 100%;
  margin-top: 8px;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25px solid var(--color-white);
  background: rgba(255, 255, 255, 0.17);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.searchBarContainer input {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  padding-inline: 8px;
  outline: none;
}

.searchBarContainer button {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.linksContainer a {
  transition: all 0.2s ease-in-out;
}

.linksContainer a:last-child {
  padding: 10px;
  background: var(--color-green-primary);
  border-radius: 8px;
  color: var(--color-black);
}

.linksContainer a:last-child:hover {
  background: var(--color-green-primary2);
}

.linksContainer a:first-child:hover {
  color: var(--color-green-primary);
}
