.postsSalvosContainer {
  margin-top: 86px;
}

.title {
  margin-bottom: 32px;
  font-family: var(--clashGrotesk);
  font-weight: 500;
  font-size: 48px;
  color: var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-200);
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 459px));
  gap: 16px;
}

@media (width < 1060px) {
  .postsSalvosContainer {
    margin-top: 60px;
  }

  .title {
    font-size: 32px;
  }
}

@media (width < 400px) {
  .postsSalvosContainer {
    margin-top: 40px;
  }
}
